#video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

#servicelogo img{
	position: relative;
  top: 50%;
  left: 10%;
	height: 50%;
	width: 80%;
  text-align: justify; 
  justify-content: center; 
  align-items: center;
	/* margin-top: 8%; */
	opacity: 1;
  /* transform: translate(-50%, -50%); */
}

#page2 {
    position: relative; 
    display: inline-block;

    /* width: 100%;
    max-height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;    
    position: absolute;
    display: inline-block;
    top: 50%; left: 50%; 
    text-align: justify; 
    justify-content: center; 
    align-items: center; */
}